<div>
    <img src="../../static/img/login-icon.png" alt="Логотип пользователя" class="col-md-3 emp_logo">
    <div class="col-md-9">
        <h1>Алан Кей</h1>
        <p>
            Навыки: php, mysql, Simpfony
        </p>
        <div class="desc">
            Алан Кей родился в начале сороковых годов. Его мать была профессиональной певицей, поэтому в воспитании доминировало гуманитарное начало и значительное место уделялось музыке. В 1961 за участие в протесте против введения процентной квоты для студентов-евреев он был исключен из колледжа, стал джазовым музыкантом и преподавателем музыки по классу гитары.

            Но другой талант, принесший ему гораздо большую известность, неожиданно обнаружился у Кея тогда, когда, поступив добровольно в армию, он прошел тест на способность к программированию, был высоко оценен и направлен в ВВС США для работы на компьютере IBM 1401. После службы в армии была учеба в университете штата Колорадо по специальности «математика и молекулярная биология» и в 1966 — переход в университет штата Юта, где произошло знакомство с работами Айвэна Сазерленда, одного из создателей виртуальной реальности.
        </div>
        <p>
            Завершенные проекты: <a href="/deal/{$}">интернет магазин домашний мастер</a>
        </p>

    </div>
</div>