.content{
  background: white;
  margin-top:50px;
  min-height: 500px;
  form{
    input{
      margin: 2px;
    }
  }
}

body{
  background: url("../img/bg-lightl-901.jpg");
}
.radios{
  padding-left: 20px;
}
textarea#desc{

}
.form-group label{
  margin-top: 10px;
}
.emp_logo{
  margin-top: 10px;
}
footer{
  background: #FFFFFF;
  border-top: 1px solid #dddddd;
  min-height: 100px;
  padding-top: 20px;
  margin-top: 5px;
}

.btn{
  margin-left: 10px!important;
  margin-bottom: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}