<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="all_pages/template">
<body>
<th:block layout:fragment="nav-bar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-category="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Eureka</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/deal_search">Найти дело</a></li>
                    <li><a href="/port">Портфолио</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
<th:block layout:fragment="content">
<main class="content container">
    <div class="row">
        <div class="col-sm-12">
        <h1 th:text="@{Заказ: ${id}}"></h1>
        <h2 th:text="${name}">Интернет магазин рога и копыта</h2>
        <span class="alert-info" th:text="${status}">Статус: проект готов</span>
        <span th:text="${categories}">Сфера: веб-разработка</span>
        <p>Заказчик: <a th:href="@{/dealer/${dealer.id}" th:text="${dealer.name}">ОАО Рога и копыта</a></p>
        <p>Исполнитель <a th:href="@{/employee/${employee.id}" th:text="${employee.name}">Семен Иванов</a></p>
        <div class="desc" th:text="${description}"></div>


    </div>
    </div>
</main>
    </th:block>
</body>
</html>