<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="all_pages/template">
<body>
<th:block layout:fragment="nav-bar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-category="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Eureka</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/deal_search">Найти дело</a></li>
                    <li><a href="/port">Портфолио</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
<th:block layout:fragment="content">
<main class="content container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Портфолио</h1>
            <p>Список выполненных проектов</p>
        </div>
        <div th:each="str,iterStat : ports">
            <div class="col-sm-3">
                <h3><a th:href="@{/deal/${str.id}}" th:text="${str.name}"> /></a></h3>
                <div  th:text="${str.description}"></div>
            </div>
            <div th:each="str,iterStat : ports">
        <div class="col-md-6">
            <h3><a href="@{/deal/${str.id}" th:text="${str.job.name}"></a></h3>
            <span>Отзыв заказчика: <a href="@{/deal/${str.id}" th:text="${str.dealer.name}"></a></span>
            <p th:text="${str.text}"></p>
            </div>
        </div>

        <div class="col-md-6">
            <h3><a href="deal/{2}">Aperiam, repellendus tenetur!</a></h3>
            <span>Отзыв заказчика: <a href="/dealer/{2}">Dignissimos ea eum magnam. Temporibus?</a>
            <p>A aspernatur atque aut autem consectetur cum distinctio dolore error exercitationem expedita facilis fugit id iure laborum molestias nam nostrum obcaecati, officia qui quod ratione reiciendis rerum sint tempora tempore totam velit voluptatibus? Atque cum, cumque dolore dolores expedita in incidunt laboriosam mollitia, nemo, porro quam quasi quisquam sequi veritatis voluptatibus? Ad consequatur debitis illo quam quasi quidem, reiciendis sequi.</p>
            </span></div>
    </div>
</main>
    </th:block>
</body>
</html>