<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="all_pages/template">
<body>
<th:block layout:fragment="nav-bar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-category="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Eureka</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/deal_search">Найти дело</a></li>
                    <li><a href="/port">Портфолио</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
<th:block layout:fragment="content">
<main class="content container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Список заказов по квалификации</h2>

            <div th:each="job : ${jobs}">
                <div class="col-sm-3">
                    <h3><a th:href="@{/deal/${job.id}}" th:text="${job.name}"> /></a></h3>
                    <div  th:text="${job.description}"></div>
            </div>


            <h3><a href="/deal/{$}">Lorem ipsum dolor sit amet.</a></h3>
            <span>Заказчик ОАО Рога и копыта</span>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, quam tenetur? A accusantium ducimus
                error explicabo molestiae neque rerum sed?
            </div>

        </div>
    </div>
    </div>
</main>
    </th:block>
</body>
</html>