<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="all_pages/template">
<body>
<th:block layout:fragment="nav-bar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-category="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Eureka</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/deals">Заказы</a></li>
                    <li><a href="/add_deal">Добавить заказ</a></li>
                    <!--<li><a href="/searchEmployee">Поиск исполнителей</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <main class="content container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Заказ:№1</h1>
                <h2>Интернет магазин рога и копыта</h2>
                <span class="alert-info">Статус: проект закончен</span>
                <button type="button" class="btn btn-link">Изменить статус</button>
                <div id="changer">
                    <select class="form-control">
                        <option>Проект в процессе</option>
                        <option>Проект закончен</option>
                    </select>
                    <button type="button" class="btn btn-default">Сохранить изменения</button>
                </div>
                <span>Сфера: веб-разработка</span>
                <p>Заказчик: <a href="/dealer/1"><span th:text="${deal.dealer.name}">Saturn</span></a></p>
                <!-- <a href="">Ссылка на проект</a> -->
                <p>Исполнитель <a href="/employee/1"><span th:text="${deal.employee != null ? deal.employee.name :'Нет исполнителя'}">Saturn</span></a></p>
                <div class="desc">
                    <span th:text="${deal.description}">Saturn</span>
                </div>

            </div>
        </div>
    </main>
</th:block>
</body>
</html>