<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width,initial-scale=1"/>
    <title>Eureka мы поможем найти заказы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap Css -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <!-- Style -->
    <link th:href="@{/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet" />
    <link th:href="@{/plugins/owl-carousel/owl.theme.css}" rel="stylesheet" />
    <link th:href="@{/plugins/owl-carousel/owl.transitions.css}" rel="stylesheet" />
    <link th:href="@{/plugins/Lightbox/dist/css/lightbox.css}" rel="stylesheet" />
    <link th:href="@{/plugins/Icons/et-line-font/style.css}" rel="stylesheet" />
    <link th:href="@{/plugins/animate.css/animate.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
<!-- Header
============================================= -->
<section class="main-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Eureka</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <form class="form-inline" method="post" th:action="@{/}">
                        <div  style="color:white;" class="form-group" th:if="${param.error}">
                            Неправильное имя пользователя или пароль.
                        </div>
                        <div style="color:white;" class="form-group" th:if="${param.logout}">
                            Успешный выход из профиля.
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="Login">Email address</label>
                            <input id="Login" class="form-control"
                                   placeholder="Логин" th:required="required" autofocus="" type="text" name="username"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="Password">Password</label>
                            <input id="Password" class="form-control" placeholder="Пароль"
                                   th:required="required" type="password" name="password"
                            />
                        </div>
                        <button type="submit" class="btn btn-default">Войти</button>
                    </form>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div id="owl-hero" class="owl-carousel owl-theme">
        <div class="item" style="background-image: url(/img/sliders/Slide.jpg)">
            <div class="caption">
                <h6>Мы поможем создать портфолио</h6>
                <h1> <span>Эврика</span></h1>

                <a class="btn btn-light" href="/register">Регистрация</a>
            </div>
        </div>
        <div class="item" style="background-image: url(/img/sliders/Slide2.jpg)">
            <div class="caption">
                <h6></h6>
                <h1>Уникальные <span>дизайны</span></h1>
                <a class="btn btn-light" href="#">Регистрация</a>
            </div>
        </div>
        <div class="item" style="background-image: url(/img/sliders/Slide3.jpg)">
            <div class="caption">
                <h1>Создание <span>Сайтов</span></h1>
                <a class="btn btn-light" href="#">Регистрация</a>
            </div>
        </div>
    </div>
</section>

<!-- Welcome
============================================= -->
<section id="welcome">
    <div class="container">
        <h2>Добро пожаловать в <span>Эврика</span></h2>
        <hr class="sep"/>
        <p>Сайт для тех, у кого мало опыта</p>
        <img class="img-responsive center-block wow fadeInUp" data-wow-delay=".3s" th:src="@{/img/welcome/logo.png}" alt="logo" />
        <p>И тех, кто у кого много идей, но мало возможностей</p>
    </div>
</section>

<!-- Services
============================================= -->
<section id="services">
    <div class="container">
        <h2>что и как?</h2>
        <p>Что здесь происходит и как вы это делаете?</p>
        <hr class="light-sep"/>
        <p>Наш сервис создан для молодых специалистов, которые ищут работы для создания портфолио в IT cфере.</p>
        <div class="services-box">
            <div class="row wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-lightbulb"></span></div>
                    <div class="media-body">
                        <h3>Идея</h3>
                        <p>У вас появилась идея для своего сайта, но вы не знаете как ее осуществить? Или вы хотите развиваться в своей области, но не знаете
                            с чего начать? Здесь вы можете объединить свои усилия для создания общего проекта!</p>
                    </div>




                </div>
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-compass"></span></div>
                    <div class="media-body">
                        <h3>География</h3>
                        <p>Наши заказчики и исполнители находятся по всей России, что поможет в более быстром поиске заказчиков и исполнителей</p>
                    </div>
                </div>

                <div class="row wow fadeInUp" data-wow-delay="2s">

                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-adjustments"></span></div>
                        <div class="media-body">
                            <h3> Отслеживание процесса</h3>
                            <p>Заказчик и исполнитель имеют возможность разбить проект на этапы и отслеживать их для организованной и эффективной работы </p>
                        </div>
                    </div>
                </div>

                <div class="row wow fadeInUp" data-wow-delay="4s">
                    <div class="col-md-4">
                        <div class="media-left"></div>
                        <div class="media-body">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-wallet"></span></div>
                        <div class="media-body">
                            <h3>Бесплатно</h3>
                            <p>Исполнитель и заказчик делают проект на безвозмездной основе
                                От заказчика необходим только отзыв о проделанной работе
                                а исполнитель получает бесценный опыт и кейс в портфолио</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<!-- Portfolio
============================================= -->
<section id="portfolio">
    <div class="container-fluid">
        <h2>Области</h2>
        <hr class="sep"/>
        <p>Наш сервис создан для молодых специалистов, которые ищут работы для создания портфолио в таких областях, как:</p>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" href="img/portfolio/1.jpg" data-lightbox="image-1" data-title="Your caption">
                    <img th:src="@{/img/portfolio/1.jpg}" class="img-responsive" alt="1" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Создание сайтов
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/2.jpg" class="portfolio-box" data-lightbox="image-2" data-title="Your caption">
                    <img th:src="@{/img/portfolio/2.jpg}" class="img-responsive" alt="2" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Дизайн
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/3.jpg" class="portfolio-box" data-lightbox="image-3" data-title="Your caption">
                    <img th:src="@{/img/portfolio/3.jpg}" class="img-responsive" alt="3" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Графика
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/4.jpg" class="portfolio-box" data-lightbox="image-4" data-title="Your caption">
                    <img th:src="@{/img/portfolio/4.jpg}" class="img-responsive" alt="4" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Программирование десктопных приложений
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/5.jpg" class="portfolio-box" data-lightbox="image-5" data-title="Your caption">
                    <img th:src="@{/img/portfolio/5.jpg}" class="img-responsive" alt="5" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Мобильная разработка
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="img/portfolio/6.jpg" class="portfolio-box" data-lightbox="image-6" data-title="Your caption">
                    <img th:src="@{/img/portfolio/6.jpg}" class="img-responsive" alt="6" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Видеоролики
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Work Process
============================================= -->
<section id="work-process">
    <div class="container">
        <h2>Процесс работы</h2>
        <hr class="sep"/>
        <p>Как получить хорошее портфолио</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <span class="icon-chat"></span>
                <h4>1.Поиск и обсуждение открытых задач </h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-circle-compass"></span>
                <h4>2.Планирование</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-browser"></span>
                <h4>3.Выполнение</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-global"></span>
                <h4>4.Закрытие задачи и публикация кейса в портфолио</h4>
            </div>
        </div>
    </div>
</section>
<!-- Some Fune Facts
============================================= -->
<section id="fun-facts">
    <div class="container">
        <h2>Пару занимательных фактов </h2>
        <hr class="light-sep"/>
        <p>факты</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <span class="icon-happy"></span>
                <h2 class="number timer">4</h2>
                <h4>человека довольных своим приложением </h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-trophy"></span>
                <h2 class="number timer">1</h2>
                <h4>Хотим  1 место на хакатоне</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-clock"></span>
                <h2 class="number timer">40</h2>
                <h4>Часов непрерывной работы</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-documents"></span>
                <h2 class="number timer">10000</h2>
                <h4>Строк кода</h4>
            </div>
        </div>
    </div>
</section>
<!-- Some Fune Facts
============================================= -->
<section id="team">
    <div class="container">
        <h2>Наша команда</h2>
        <hr class="sep"/>
        <p>Designers Behind This Work</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-md-3">
                <div class="team">
                    <img class="img-responsive center-block" th:src="@{/img/team/Denis.jpg}" alt="1" />
                    <h4>Денис Маняшин</h4>
                    <p>Front-end</p>
                    <div class="team-social-icons">
                        <a href="https://vk.com/w3prog"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img class="img-responsive center-block" th:src="@{/img/team/Jenya.jpg}" alt="2" />
                    <h4>Евгений Демидов</h4>
                    <p>Back-end</p>
                    <div class="team-social-icons">
                        <a href="https://vk.com/dem_evg"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img class="img-responsive center-block" th:src="@{/img/team/Lesha.jpg}" alt="3" />
                    <h4>Алексей Бурулев</h4>
                    <p>Back-end</p>
                    <div class="team-social-icons">
                        <a href="https://vk.com/id13813602"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img class="img-responsive center-block" th:src="@{/img/team/Vova.jpeg}" alt="4" />
                    <h4>Беляев Владимир</h4>
                    <p>Front-end</p>
                    <div class="team-social-icons">
                        <a href="https://vk.com/kit91ka"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials
============================================= -->
<section id="testimonials">
    <div class="container">
        <h2>Заключение</h2>
        <hr class="light-sep"/>
        <p>Резюме проекта и благодарность</p>
        <div id="owl-testi" class="owl-carousel owl-theme">
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>Являясь одними из тех,кто столкнулся с проблемой малого опыта и большого желания развиваться
                        мы создали одно из решений этой проблемы и искренне надеемся, что наша идея не угаснет.<i class="fa fa-quote-right right fa-2x"></i></h5>
                </div>
            </div>
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>Мы хотели бы выразить благодарность организаторам и партнерам hackRussia за то, что создали на эти 40 часов пространство для максимального высвобождения своего потенциала и взяли на себя все заботы о наших повседневных делах.<i class="fa fa-quote-right right fa-2x"></i></h5>

                </div>
            </div>
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>Ваша команда <span>Эврика!</span><i class="fa fa-quote-right right fa-2x"></i></h5>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer
============================================= -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Eureka 2016 Все права защищены</p>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below) and some downloaded, or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/html5shiv.min.js}"></script>
<script th:src="@{/js/respond.min.js}"></script>
<!-- JS PLUGINS -->
<script th:src="@{/plugins/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/plugins/countTo/jquery.countTo.js}"></script>
<script th:src="@{/plugins/inview/jquery.inview.min.js}"></script>
<script th:src="@{/plugins/Lightbox/dist/js/lightbox.min.js}"></script>
<script th:src="@{/plugins/WOW/dist/wow.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>