<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width,initial-scale=1"/>
    <meta name="viewport"/>
    <title>Eureka мы поможем создать портфолио</title>
    <meta http-equiv="Content-Type"/>
    <link href="https://necolas.github.io/normalize.css/5.0.0/normalize.css"
          rel="stylesheet" media="screen"/>

    <link          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link th:href="@{/style/style.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<header>
    <nav layout:fragment="nav-bar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Eureka</a>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    <div layout:fragment="content">
        <p>Страница находится на заполнении</p>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Eureka 2016 Все права защищены</p>
    </div>
</footer>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>